* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
}

body {
  background: #efefef;
}

body::before {
  content: "";
  
  width: 100%;
  height: 436px;
  background: #535971;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



.page {
  width: 100%;
  padding: 0 280px;
}

header {
  width: 319px;

  margin-top: 140px;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  font-size: bold;
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

header p {
  width: 417px;
  height: 46px;
  font-size: 20px;
  font-style: normal;
  color: white;
}

form {
  margin-top: 60px;
  background: #fafafc;
  border-radius: 20px 20px 0 0;
  min-height: 100vh;
  width: 750px;

  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

fieldset {
  border: none;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form fieldset legend {
  font-family: "Staatliches", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 34px;
  color: #535971;
  border-bottom: 1px solid #e6e6f0;
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 30px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 14px;
  line-height: 24px;
  font-family: Poppins;
  color: #4e4958;

  margin-bottom: 8px;
}

.input-wrapper label span {
  margin-left: 12px;

  font-size: 12px;
  line-height: 20px;

  color: #c1bccc;
}

.input-wrapper label span:hover {
  color: #7f7c86;
}

.input-wrapper input {
  background: #fafafc;

  border-radius: 8px;
  border: 1px solid #e6e6f0;
  background: #fafafc;

  height: 56px;

  padding: 0 24px;

  font-size: 16px;
  line-height: 26px;

  color: #c1bccc;
}

.nes {
  display: flex;
  gap: 22px;
}

.nes div {
  width: 300px;
}

.teste {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 34px;
}

.horario {
  display: flex;
  gap: 32px;
}

.horario > div:nth-child(1) {
  width: 100%;
}

footer {
  background: #535971;

  width: 750px;
  height: 160px;

  display: flex;
  flex-direction: column;

  padding: 40px 64px;
  margin: auto;
  margin-bottom: 100px;

  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 20px 20px;
}

footer .form-button {
  width: 608px;
  height: 55px;
  padding: 15px 40px;
  gap: 10px;
  font-family: Staatliches;
  border-radius: 20px;
  background: #ff5374;
  color: white;
  font-size: 20px;
  line-height: 26px;
}

footer .form-button:hover {
  background: #fa2d56;
}
