body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #efefef;
}

body::before {
  content: "";
  align-items: center;
  width: 100%;
  height: 436px;
  background: #535971;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  width: 1440px;
  margin: auto;
}

header {
  width: 319px;

  margin-top: 140px;
}

header h1 {
  font-family: "Staatliches", sans-serif;
  font-size: bold;
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

header p {
  width: 417px;
  height: 46px;
  font-size: 20px;
  font-style: normal;
  color: white;
}

form {
  margin-top: 60px;
  background: #fafafc;
  border-radius: 8px;
  min-height: 300px;
  width: 750px;
  height: 1084px;
  padding: 64px;
}

fieldset {
  border: none;
}

.fieldset-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

form fieldset legend {
  font-family: "Staatliches", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 34px;
  color: #535971;
  border-bottom: 1px solid #e6e6f0;
  width: 100%;
  padding-bottom: 16px;
}

.nes {
  display: flex;
  gap: 20px;
}

.nes > div:nth-child(1) {
  width: 100%;
}